header {
    padding-top: 40px;
    justify-content: space-between;
    max-width: 1240px;
    margin: 45px auto 50px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
  }
  
  header,
  nav ul {
    display: flex;
  }
  
  nav ul {
    gap: 57px;
  }
  
  nav ul li {
    color: #000;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
  }
  
  nav ul li a.active {
    text-decoration-line: underline;
  }
  
 
  
  @media screen and (max-width:992px) {
    header{
      padding:20px ;
    
    }
    .description{
       font-size:32px;
    }
    .logo{
        height: 54px;
    }
  }

  @media screen and (max-width:768px) {
   
    .description{
       font-size:24px!important;
    }
    .logo{
        height: 46px;
    }
    nav ul li{
      font-size: 12px;
      text-transform: uppercase;
    }
    nav ul {
      gap: 26px;
    }
    
  }
