.card {
  height: 100%;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* row-gap: 80px;
  column-gap: 317px; */
}

.grid-container p {


}

.grid-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  padding-bottom: 20px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.grid-item {
  height: 340px;
}

.grid-item p{

}
/* Media query pour les écrans mobiles */
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Media query pour les écrans mobiles */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    background-color: white;
    padding: unset;
    gap: 20px;
  }
}
