@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  color: black;
}

#root{
  margin: 0 auto;
  max-width: 1440px;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.title {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.bg-red-white {
  background: #ff6060;
  color: white;
}

.color-white{
    color: #fff;
}
.red{
    color:#ff6060;
}
.typo{
    font-family: Montserrat;
    font-style: normal;
    line-height: 142.6%;
}

.temp-typo-big {
  font-size: 18px;
  font-weight: 700;
}

.temp-typo-700 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
  }
.center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
/* max tablet */
@media screen and (max-width: 992px) {

  .banner .description{
    line-height: 100%;

  }
  
}