 .banner {
  background-color: #fafafa;
  padding: 0 50px 0 34px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  gap: 20px;
}

.banner .info h1 {
  
  color: #D3573C;
  font-weight: 400;
  margin-bottom: 3px;
  font-size: 64px !important;
}

.banner h2 {
  color: #901c1c;
  padding-bottom: 19px;
  font-weight: 400;
}

/* bouton de contact  */
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
} 
.contact_button:hover, .contact_button:focus{
  background-color: #DB8876;
  color: #000000;
}


@media screen and (max-width:1024px){
  .banner{
    height: unset;
    flex-direction: column;
    text-align: center;
   
  }
} 