.filter {
  display: flex;
  gap: 30px;
  padding-bottom: 58px;
}
.filter ul :nth-child(2),
.filter ul :nth-child(3) {
  display: none;
}
.filter ul.open :nth-child(2),
.filter ul.open :nth-child(3) {
  display: block;
  display: flex;
  align-items: center;
}

.filter p,
.filter ul {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
}

.filter p {
  color: #000;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
}

.filter ul {
  width: 170px;
  background-color: #901c1c;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
  position: absolute;

}
.filter ul.open{
  padding-left:10px;
  padding-right:10px;
  width: 150px;
}
.filter ul li {
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: #fff !important;
  height: 69px;
}
.filter ul.open li{
  padding-left: unset;
}
.filter ul.open li:hover{
  background-color: #DB8876;
  color: #000000!important;
}

.filter ul.open li:nth-child(1),
.filter ul.open li:nth-child(2) {
  border-bottom: 1px solid white ;
}

.arrow {
  position: absolute;
  top: 20px;
  right: -160px;
  z-index: 50;
  cursor: pointer;
  transition: ease 1s;
}

img.arrow.open{
  transform: rotate(180deg);
}
