header {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }
  
  header,
  nav ul {
    display: flex;
  }
  
  header h1 {
    color: #901c1c;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

  @media screen and (max-width:992px) {
    header{
      justify-content: center;
      flex-direction: column;
    }
  } 
