.equipements{
    flex-direction: flex-start;
}
.top .left-part p{
    color: #000;

font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 142.6%;
}
.stars span{
    padding: 7px;
}
@media screen and (max-width: 768px){
    .top{
        flex-direction: column;
    }
}
