.containerImage img,video
img.clicklike {
  cursor: pointer;
 ;
}

.grid-container.detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 95px;
  position: relative;
  z-index: unset;
}

.filter ul.open{
  z-index: 20;
}
.grid-container.detail img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.detail .card {
  height: 100%;
  text-align: center;
}
.detail .wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.detail .grid-item {
  height: 350px;
  width: 350px;
}

.containerInfo {
 
  
  display: flex;
  justify-content: space-between;
}

.containerInfo p {
  font-size: clamp(16px, 1.5vw, 24px);
  color: #901c1c;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} 

img.clicklike {
  width: 24px !important;
  height: 24px !important;
  object-fit: cover;
}
/* Media query pour les écrans mobiles */
@media screen and (max-width: 1024px) {
  .grid-container.detail {
    justify-content: center;
  }
}
/* Media query pour les écrans mobiles */
@media screen and (min-width: 768px) {
  .grid-container.detail {
    background-color: white;
    padding: unset;
    gap: 20px;
  }
}
/* Media query pour les écrans mobiles */
@media screen and (max-width: 768px) {
  .grid-container.detail {
    background-color: white;
    padding: unset;
    gap: 20px;
    margin-bottom: 80px;
  }
}
@media (max-width: 1300px) {
  .grid-container {
    justify-content: center !important;
  }
}
