.template {
  color: #ff6060;
  font-family: Montserrat;
}
.template .ref {
  position: relative;
}

.columns {
  display: flex;
  justify-content: space-between;
}
.template ul {
  display: flex;
}
.template li {
  border-radius: 10px;
}
.template p {
  color: black;
}
.left-part,
.right-part {
  width: 50%;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}
.template .dropdown {
  display: flex;
}
.template .dropdown-bar {
  align-items: center;
}
.cercle-profil {
  width: 64px;
  height: 64px;
}
.cercle-profil img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}
.temp-typo-500 {
  font-size: 18px;
  font-weight: 500;
}
.temp-typo-700 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
}
.title-bar {
  font-size: 18px !important;
}
.space {
  gap: 76px;
}
.top .right-part {
  width: 196px;
}
.tag {
  padding: 3px 37px 2px 37px;
  border-radius: 10px;
  color: #fff;

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
}
.top {
  margin-top: 30px;
}
.top ul {
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 24px;
}
.top .name {
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
.template .description {
  color: black;
  padding: 20px;
  background-color: rgba(246, 246, 246, 0.45);
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .left-part,
  .right-part {
    width: unset;
  }
  .top {
    margin-top: 15px !important;
  }
  .top .right-part {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 13px 0;
  }
  .top .name {
    padding-right: 10px;
    width: 93px;
  }
  .space {
    flex-direction: column;
    gap: 20px !important;
  }
  .tag {
    padding: 2px 22px;
    font-size: 10px;
  }
}
